<!DOCTYPE html>
<html lang="en" ng-app="RegistrationApp">

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body ng-cloak>
    <div class="col-sm-2 col-lg-4"></div>
    <div ng-controller="RegistrationCtrl as ctrl" class="col-sm-8 col-lg-4 registration-page">
        
        <form name="registrationForm" ng-submit="registrationForm.$valid && ctrl.registerUser()" novalidate>
            
            <div ng-show="!ctrl.loadRegistration">
                <h3> Welcome to the Registration Page ! </h3>
                <hr />

                <!-- ******************** Date Of Birth ******************* -->
                <div class="form-group">
                    <label for="dateOfBirth">Please enter your Date of Birth: </label>
                    <input id="dateOfBirth" name="dateOfBirth" type="date" class="form-control" 
                        ng-model=ctrl.user.dateOfBirth 
                        required/>
                        <div class="form-group" ng-show="ctrl.ageValidate">
                                
                            <hr/>
                                <button id="loadRegistration" name="loadRegistration" type="button" 
                                    class="btn btn-dark"
                                    ng-click="ctrl.loadRegistrationContent()">Next</button> 
                      </div>
                        <div class="validation" 
                            data-ng-show="registrationForm.dateOfBirth.$touched">
                            <div>
                                <div data-ng-show="registrationForm.dateOfBirth.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span>&nbsp Date of Birth is mandatory.
                                </div>
                            </div>
                            <div data-ng-show="registrationForm.dateOfBirth.$touched && 
                                ctrl.ageValidation(ctrl.user.dateOfBirth) == false">
                                <span class="glyphicon glyphicon-alert"></span>&nbsp {{ctrl.validateMessage}}
                            </div>
                        </div>
                        
                </div>
            </div>
            <div ng-show="ctrl.loadRegistration">
                <h1> Registration </h1>
                <hr/>
                
                <!-- ************** Registration submitted!!! **********************-->
                <div class="alert alert-info alert-dismissible" role="alert" ng-show="ctrl.submitted">
                    <a href="." class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <h5> {{ctrl.registrationMessage}} <br/>
                        Registration form submitted! Thank you. </h5>
                </div>

                <!-- Registration form -->
                <!-- ******************** Email Address ******************* -->
                <br/>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input id="email" name="email" type="email" placeholder="you@domain.com" class="form-control" 
                    ng-model="ctrl.user.email" required /> 
                    <div class="validation" data-ng-show="registrationForm.email.$touched || registrationForm.$submitted" >
                        <div data-ng-show="registrationForm.email.$error.required">
                            <span class="glyphicon glyphicon-alert"></span>&nbsp Email is mandatory.
                        </div>
                        <div data-ng-show="registrationForm.email.$error.email">
                            <span class="glyphicon glyphicon-alert"></span>&nbsp Email is invalid.
                        </div>
                    </div>
                </div>

                <!-- ******************** Password ******************* -->
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" class="form-control" 
                        ng-model="ctrl.user.password" 
                        minlength="8" 
                        required 
                        ng-pattern="/^(?=.*\d)(?=.*[@#$])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" />
                    <div class="validation" data-ng-show="registrationForm.password.$touched || registrationForm.$submitted" >
                            <div data-ng-show="registrationForm.password.$error.required">
                                <span class="glyphicon glyphicon-alert"></span>&nbsp Password is mandatory.
                            </div>
                            <div data-ng-show="registrationForm.password.$error.minlength">
                                <span class="glyphicon glyphicon-alert"></span>&nbsp Password must be at least 8 character long. 
                            </div>
                            <div data-ng-show="registrationForm.password.$error.pattern">
                                <span class="glyphicon glyphicon-alert"></span>&nbsp Password must have at least 8 characters, include a number, 
                                a special character (@,#,$) and use both upper and lower cases. 
                            </div>
                    </div>
                </div>
                
                <!-- ******************** Name ******************* -->
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" name="name" type="text" class="form-control" 
                    ng-model="ctrl.user.name" required />
                    <div class="validation" data-ng-show="registrationForm.name.$touched || registrationForm.$submitted" >
                        <div data-ng-show="registrationForm.name.$error.required">
                            <span class="glyphicon glyphicon-alert"></span>&nbsp Name is mandatory.
                        </div>
                    </div>
                </div>

                <!-- ******************** Gender ******************* -->
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <br/>
                    <input id="gender" name="gender" type="radio" value="M" ng-model=ctrl.user.gender ng-required="!ctrl.user.gender" /> Male<br/>
                    <input id="gender" name="gender" type="radio" value="F" ng-model=ctrl.user.gender ng-required="!ctrl.user.gender" /> Female
                    <br/>
                    <div class="validation" data-ng-show="registrationForm.gender.$touched || registrationForm.$submitted" >
                        <div data-ng-show="registrationForm.gender.$error.required">
                            <span class="glyphicon glyphicon-alert"></span>&nbsp Gender is mandatory.
                        </div> 
                    </div>
                </div>

                <!-- ******************** Date Of Birth ******************* -->
                <!--
                <div class="form-group">
                    <label for="dateOfBirth">Date of Birth</label> 
                    &nbsp {{ctrl.user.dateOfBirth}}
                    
                </div>
                -->

                <!-- ******************** Address ******************* -->
                <div class="form-group">
                    <label for="address">Address</label>
                    <input id="address" name="address" type="text" class="form-control" 
                    ng-model="ctrl.user.address" required />
                    <div class="validation" data-ng-show="registrationForm.address.$touched || registrationForm.$submitted" >
                        <div data-ng-show="registrationForm.address.$error.required">
                            <span class="glyphicon glyphicon-alert"></span>&nbsp Address is mandatory.
                        </div>
                    </div>
                </div>

                <!-- ******************** Country ******************* -->
                <div class="form-group">
                    <label for="country">Country</label>
                    <br/>
                    <select id="country" name="country"
                        class = "form-control"
                        ng-model="ctrl.user.selcountry" 
                        type="text"
                        required>
                        <option value="">--------Select-------</option>
                    
                        <option value="{{ctrl.defaultCountry.code}}">{{ctrl.defaultCountry.name}}</option>
                    
                        <option ng-repeat="option in ctrl.country" value="{{option.code}}" >{{option.name}}</option>
                        
                        <!--
                        <option ng-repeat="option in ctrl.country" 
                            ng-selected="ctrl.defaultCountry == option.code" 
                            value="{{option.code}}">
                            {{option.name}}
                        </option>
                    -->
                        
                    </select>
                    <!--<tt> selected: {{ctrl.defaultCountry}}</tt><br/> -->
                    <div class="validation" data-ng-show="registrationForm.country.$touched || registrationForm.$submitted" >
                        <div data-ng-show="registrationForm.country.$error.required">
                            <span class="glyphicon glyphicon-alert"></span>&nbsp Country is mandatory.
                        </div> 
                    </div>
                </div>
               
                
                <!-- ******************** Contact Number ******************* -->
                <div class="form-group">
                    <label for="contactNumber">Contact number</label>
                    <input id="contactNumber" name="contactNumber" type="text" class="form-control" 
                    ng-model="ctrl.user.contactNumber" 
                    required 
                    maxlength="30"
                    ng-pattern="/^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$/" 
                    />
                    <div class="validation" 
                        data-ng-show="registrationForm.contactNumber.$touched || 
                        registrationForm.$submitted" >
                        
                        <div data-ng-show="registrationForm.contactNumber.$error.required">
                            <span class="glyphicon glyphicon-alert"></span>&nbsp Contact number is mandatory.
                        </div>
                
                        <div data-ng-show="registrationForm.contactNumber.$error.pattern">
                            <span class="glyphicon glyphicon-alert"></span>&nbsp Contact number invalid. 
                        </div>
                            
                    </div>
                </div>

                <!-- ******************** Submit ******************* -->
                <div class="form-group">
                    <hr/>
                    <input id="submit" name="submit" type="submit" class="btn btn-dark />
                </div>
            </div>
            <!-- ***************************************************************************************************************** -->
        </form>
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/app/app.module.js"></script>
    <script src="/app/registration.controller.js"></script>
</body>

</html>